<a href="https://colab.research.google.com/github/Byron-Leung/Using_XGboost_to_predict_housing_price/blob/master/GBDT_%26_adabooost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import XGBRegressor
from xgboost import DMatrix
import xgboost 
from sklearn.metrics import accuracy_score

In [ ]:
import os
import tarfile
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
Xtrain = pd.read_csv('gdrive/My Drive/毕业设计/Xtrain1.csv')
Xtest = pd.read_csv('gdrive/My Drive/毕业设计/Xtest1.csv')
Ytrain = pd.read_csv('gdrive/My Drive/毕业设计/Ytrain1.csv')
Ytest = pd.read_csv('gdrive/My Drive/毕业设计/Ytest1.csv')

In [ ]:
Xtrain.shape

(195155, 50)

In [ ]:
Ytrain.shape

(195155, 2)

In [ ]:
Ytest.head(3)

   Unnamed: 0  sale_price
0           0    680000.0
1           1    465000.0
2           2    421680.0

In [ ]:
Xtrain.head(3)

   Unnamed: 0  Unnamed: 0.1  price_range  ...  ExemptTot  SanitDistr  RetailArea
0           0             0          3.0  ...     8539.0        18.0         0.0
1           1             1          3.0  ...    23600.0         2.0       760.0
2           2             2          5.0  ...        0.0        11.0         0.0

[3 rows x 50 columns]

In [ ]:
Xtrain.drop(columns= ['Unnamed: 0','Unnamed: 0.1'],inplace = True)
Xtest.drop(columns= ['Unnamed: 0','Unnamed: 0.1'],inplace = True)
Ytrain.drop(columns= ['Unnamed: 0'],inplace = True)
Ytest.drop(columns= ['Unnamed: 0'],inplace = True)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

In [ ]:
params1 = {'n_estimators':100 , 'learning_rate' : 0.2 , 'subsample': 0.8 ,'criterion':'mse'}
num_rounds = 500

In [ ]:
Xtrain.shape

(195155, 48)

In [ ]:
Ytrain.shape

(195155, 1)

In [ ]:
gbreg = GradientBoostingRegressor(**params1)
gbreg.fit(Xtrain,Ytrain)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='mse', init=None,
                          learning_rate=0.2, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=0.8, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
gbreg.score(Xtest,Ytest)

0.5440267674747096

In [ ]:
from sklearn.metrics import mean_squared_error as MSE
from math import sqrt
sqrt(MSE(Ytest,gbreg.predict(Xtest)))

1971741.5173300789

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn import tree
from sklearn.model_selection import GridSearchCV
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn.datasets import make_regression

In [ ]:
from sklearn.datasets import make_regression
regr = AdaBoostRegressor(random_state=0, n_estimators=100 , learning_rate = 0.2 , loss = 'square')
regr.fit(Xtrain,Ytrain)
AdaBoostRegressor(n_estimators=1000, learning_rate = 0.05)
regr.score(Xtrain,Ytrain)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6147556342513627

In [ ]:
sqrt(MSE(Ytest,regr.predict(Xtest)))

2788662.6453612926